_build
node_modules

.DS_Store
.vscode/spell.json

.idea
4596808457084p7]
46us9u 6-94[6op_) *(*ET&(&*ET(^&*E^TO{()T*_)TE(T_I( 5]w4'5o p45oi '
w4l
ue'46u
lw4e[6 ui0-s56u8[ 4lu'e4o6u] [
786'; e6+-*57i+e573
e56u +*/+. 5+6u + e56/ u+r568u+e56u
*.sublime-project
*.sublime-workspace