{{#regObject page="blog" section="{$ Link $}" title="{$ Title $}"}}{{/regObject}}

<div class="container body-content docs blog">
    <div class="row">
        <div class="col-md-2">            
			{{> blogNavigation}}
		</div>
		<div class="col-sm-9 col-md-8 body">
			{$ Content $}
		</div>
        <div class="hidden-xs col-sm-3 col-md-2">
            <nav id="docs-subnavbar">
                {% if Sections.length %}
				    <h4>In this blog</h4>
                {% endif %}
                <ul class="nav">
                	{% for section in Sections %}
                		<li><a href="#{$ section.Anchor $}">{$ section.Title $}</a></li>
                	{% endfor %}
                </ul>
                
				<div class="connect-widget">
	
	                <div class="fb-like" data-href="https://code.visualstudio.com/Docs" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
					<ul class="connect-links">
						<li><a href="https://stackoverflow.com/questions/tagged/vscode" target="_blank"><div class="image stackoverflow"></div><span>Stack Overflow</span></a></li>
						<li><a href="https://go.microsoft.com/fwlink/?LinkID=533687" target="_blank"><div class="image twitterhandle"></div><span>@code</span></a></li>
						<li><a href="http://go.microsoft.com/fwlink/?LinkID=533482" target="_blank"><div class="image uservoice"></div><span>Request features</span></a></li>
						<li><a href="http://www.github.com/Microsoft/vscode/" target="_blank"><div class="image github"></div><span>Report issues</span></a></li>
					</ul>
				
				</div>	
				
			</nav>
        </div>
	</div>
</div>
<div id="fb-root"></div>
{{#section 'meta'}}
	<meta name="description" content="{$ MetaDescription $}" />
	<meta name="keywords" content="{$ MetaTags $}" />
{{/section}}