{{#regObject page="blog" section="{$ Link $}" title="{$ Title $}"}}{{/regObject}}

<div class="container body-content docs blog">
    <div class="row">
        <div class="col-md-2">            
			{{> blogNavigation}}
		</div>
		<div class="col-sm-9 col-md-8 body">
			{$ Content $}
		</div>
        <div class="hidden-xs col-sm-3 col-md-2">
            <nav id="docs-subnavbar" aria-label="On Page Navigation">
                {% if Sections.length %}
				    <h4 tabIndex="0"><span class="sr-only">In this blog post there are {$ Sections.length $} sections</span><span aria-hidden="true">In this blog post</span></h4>
                {% endif %}
                <ul class="nav">
                	{% for section in Sections %}
                		<li><a href="#{$ section.Anchor $}">{$ section.Title $}</a></li>
                	{% endfor %}
                </ul>
            <a class="twitter-share-button"
                href="https://twitter.com/share"
                data-text="{$ Title $}"
                data-via="Code"
                data-counturl="https://code.visualstudio.com/blogs/{$ Link $}"
                data-count="vertical">
                Tweet
            </a>
            <div class="connect-widget"></div>
			</nav>
        </div>
	</div>
</div>
{{#section 'meta'}}
    <meta name="description" content="{$ MetaDescription $}" />
    <meta name="keywords" content="{$ MetaTags $}" />
    <!-- Twitter and Facebook OpenGraph Metadata-->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="http://code.visualstudio.com/blogs/{$ Link $}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{$ Title $}"/>
    <meta property="og:description" content="{$ MetaDescription $}"/>
    {% if MetaSocialImage %}
    <meta property="og:image" content="http://code.visualstudio.com/images/{$ MetaSocialImage $}"/>
    {% else %}
    <meta property="og:image" content="http://code.visualstudio.com/opengraphimg/opengraph-blog.png"/>
    {% endif %}
{{/section}}