<div class="connect-widget">
    <ul class="connect-links">
        <li id="connect-rssfeed"><a href="/feed.xml" target="_blank"><div class="image rssfeed"></div>Subscribe</a></li>
        <li id="connect-stack-overflow"><a href="https://stackoverflow.com/questions/tagged/vscode" target="_blank"><div class="image stackoverflow"></div>Ask questions</a></li>
        <li id="connect-twitter"><a href="https://go.microsoft.com/fwlink/?LinkID=533687" target="_blank"><div class="image twitterhandle"></div>Follow @code</a></li>
        <li id="connect-uservoice"><a href="http://go.microsoft.com/fwlink/?LinkID=533482" target="_blank"><div class="image uservoice"></div>Request features</a></li>
        <li id="connect-github"><a href="http://www.github.com/Microsoft/vscode/issues" target="_blank"><div class="image github"></div>Report issues</a></li>
    </ul>
</div>