<div class="connect-widget">
    <ul class="connect-links">
        {% if page=="blog" %}<li id="connect-rssfeed"><a href="/feed.xml" target="_blank"><div class="image rssfeed"></div><span>Subscribe</span></a></li>{% endif %}
        <li id="connect-stack-overflow"><a href="https://stackoverflow.com/questions/tagged/vscode" target="_blank"><div class="image stackoverflow"></div><span>Ask questions</span></a></li>
        <li id="connect-twitter"><a href="https://go.microsoft.com/fwlink/?LinkID=533687" target="_blank"><div class="image twitterhandle"></div><span>Follow @code</span></a></li>
        <li id="connect-uservoice"><a href="http://go.microsoft.com/fwlink/?LinkID=533482" target="_blank"><div class="image uservoice"></div><span>Request features</span></a></li>
        <li id="connect-github"><a href="http://www.github.com/Microsoft/vscode/issues" target="_blank"><div class="image github"></div><span>Report issues</span></a></li>
    </ul>
</div>