<nav id="docs-navbar" class="docs-nav visible-md visible-lg">
	<ul class="nav" id="main-nav">
		<li @(ViewBag.Section == "Home" ? "class=active" : "")><a class="docs-home" href="/docs">Overview</a></li>
		{% for area in areas %}
			{% if area.include %}
				<li class="panel @(ViewBag.Area == "{{ area.path.toLowerCase() }}" ? "active expanded" : "collapsed")">
					<a class="area" href="#{{ area.path.toLowerCase() }}-articles" data-parent="#main-nav" data-toggle="collapse">{{ area.title }}</a>
					<ul id="{{ area.path.toLowerCase() }}-articles" class="collapse @(ViewBag.Area == "{{ area.path.toLowerCase() }}" ? "in" : "")">
					{% for article in area.articles %}
						<li @(ViewBag.Section == "{{ article.Link }}" ? "class=active" : "")><a href="/docs/{{ article.Link }}">{{ article.NavTitle }}</a></li>
					{% endfor %}
					</ul>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</nav>
<nav id="small-nav" class="docs-nav hidden-md hidden-lg">
	<h4>Topics</h4>
	<select id="small-nav-dropdown">
		<option value="/docs" @(ViewBag.Section == "Home" ? "selected" : "")>Overview</option>
		{% for area in areas %}
			{% if area.include %}
				<optgroup label="{{ area.title }}">
				{% for article in area.articles %}
					<option value="/docs/{{ article.Link }}" @(ViewBag.Section == "{{ article.Link }}" ? "selected" : "")>{{ article.NavTitle }}</option>
				{% endfor %}
				</optgroup>
			{% endif %}
		{% endfor %}
	</select>
	<div class="social-buttons">
		<a class="twitter-share-button"
		   data-text="Sharing this doc"
           data-via="Code"
		   href="https://twitter.com/share">
		    Tweet
		</a>
		<div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
	</div>
</nav>