{{#regObject page="docs" area="{$ Area $}" section="{$ Link $}" title="{$ Title $}"}}{{/regObject}}

<div class="container body-content docs">
    <div class="row">
        <div class="col-md-2">
            {{> docNav}}
		</div>
		<div class="col-sm-9 col-md-8 body">
			<div class="edit-github pull-right">
				<a href="{% if Link == 'extensionAPI/vscode-api' %}https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts{% else %}https://github.com/Microsoft/vscode-docs/blob/master/docs/{$ Link $}.md{% endif %}" tabindex="-1">
					<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span><i>&nbsp;</i><span class="hidden-xs">Edit</span></button>
				</a>
			</div>
			{$ Content $}
			<div class="feedback"></div>
			{% if DateApproved %}
			<div class="body-footer">Last updated on {$ DateApproved $}</div>
			{% endif %}
		</div>
        <div class="hidden-xs col-sm-3 col-md-2">
            <nav id="docs-subnavbar" aria-label="On Page Navigation">
				<h4 tabIndex="0"><span class="sr-only">In this article there are {$ Sections.length $} sections</span><span aria-hidden="true">In this article</span></h4>
                <ul class="nav">
                	{% for section in Sections %}
                		<li><a href="#{$ section.Anchor $}">{$ section.Title $}</a></li>
                	{% endfor %}
                </ul>
				<a class="twitter-share-button"
				   href="https://twitter.com/share"
				   data-text="{$ Title $}"
                   data-via="Code"
				   data-counturl="https://code.visualstudio.com/docs/{$ Link $}"
				   data-count="vertical">
				    Tweet
				</a>
				<div class="connect-widget"></div>
			</nav>
        </div>
	</div>
</div>
{{#section 'meta'}}
	<meta name="description" content="{$ MetaDescription $}" />
	<meta name="keywords" content="{$ MetaTags $}" />
    <meta name="ms.prod" content="vs-code" />
    <meta name="ms.TOCTitle" content="{$ NavTitle $}" />
    <meta name="ms.ContentId" content="{$ ContentId $}" />
    <meta name="ms.date" content="{$ DateApproved $}" />
    <meta name="ms.topic" content="article" />
	<!-- Twitter and Facebook OpenGraph Metadata-->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="http://code.visualstudio.com/docs/{$ Link $}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{$ Title $}"/>
    <meta property="og:description" content="{$ MetaDescription $}"/>
    {% if MetaSocialImage %}
    <meta property="og:image" content="http://code.visualstudio.com/images/{$ MetaSocialImage $}"/>
    {% else %}
    <meta property="og:image" content="http://code.visualstudio.com/opengraphimg/opengraph-docs.png"/>
    {% endif %}
{{/section}}