<nav id="docs-navbar" class="docs-nav updates-nav visible-md visible-lg">
	<h4>Updates</h4>
	<ul class="nav">
		{% for article in articles %}
			<li {{#ifCond section "{$ article.Link $}"}}class="active"{{/ifCond}}><a href="/updates/{$ article.Link $}">{$ article.NavTitle $}</a></li>
		{% endfor %}
	</ul>
</nav>
<nav id="small-nav" class="docs-nav updates-nav hidden-md hidden-lg">
	<h4>Updates</h4>
	<select id="small-nav-dropdown">
		{% for article in articles %}
			<option value="/updates/{$ article.Link $}" {{#ifCond section "{$ article.Link $}"}}selected{{/ifCond}}>{$ article.NavTitle $}</option>
		{% endfor %}
	</select>
</nav>