{{#regObject page="tutorial" section="{$ Link $}" title="{$ Title $}"}}{{/regObject}}

<script>
    function closeReportIssue() {
        $('#surveypopup').remove();
    }

    function reportIssue(tutorial, page) {
        $('body').append('<div id="surveypopup" class="overlay visible"><div class="surveypopup"><div id="surveytitle">Tell us more<a href="javascript:void(0)" onclick="closeReportIssue()">X</a></div><div id="surveydiv"><iframe frameBorder="0" scrolling="0" src="https://www.research.net/r/PWZWZ52?tutorial='+tutorial+'&step='+page+'"></iframe></div></div></div>');
    }
</script>

<div class="container body-content docs tutorial">
    <div class="row">
        <div class="col-md-2">
			{{> tutorialNavigation}}
		</div>
		<div class="col-sm-9 col-md-8 body">
			{$ Content $}
		</div>
        <div class="hidden-xs col-sm-3 col-md-2">
            <nav id="docs-subnavbar" aria-label="On Page Navigation">
                {% if Sections.length %}
				    <h4 tabIndex="0"><span class="sr-only">In this tutorial there are {$ Sections.length $} sections</span><span aria-hidden="true">In this tutorial</span></h4>
                {% endif %}
                <ul class="nav">
                	{% for section in Sections %}
                		<li><a href="#{$ section.Anchor $}">{$ section.Title $}</a></li>
                	{% endfor %}
                </ul>
            <a class="twitter-share-button"
                href="https://twitter.com/share"
                data-text="{$ Title $}"
                data-via="Code"
                data-counturl="https://code.visualstudio.com/tutorials/{$ Link $}"
                data-count="vertical">
                Tweet
            </a>
            <div class="connect-widget"></div>
			</nav>
        </div>
	</div>
</div>
{{#section 'meta'}}
    <meta name="description" content="{$ MetaDescription $}" />
    <meta name="keywords" content="{$ MetaTags $}" />
    <!-- Twitter and Facebook OpenGraph Metadata-->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="http://code.visualstudio.com/tutorials/{$ Link $}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{$ Title $}"/>
    <meta property="og:description" content="{$ MetaDescription $}"/>
    {% if MetaSocialImage %}
    <meta property="og:image" content="http://code.visualstudio.com/images/{$ MetaSocialImage $}"/>
    {% else %}
    <meta property="og:image" content="http://code.visualstudio.com/opengraphimg/opengraph-blog.png"/>
    {% endif %}
{{/section}}