
html {
    font-size: 10px;
}
body {
    padding-bottom: 100px;
}

h1,h2,h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 4rem;
    margin-bottom:1.5rem;
}

h2 {
    font-size: 3rem;
    margin-top: 3rem;
}


h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.5rem;
	font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#scroll-to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 25px;
    bottom: 25px;
    /*background-color:#0e639c;*/
    background-color:#444444;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0,0,0,.25);
    outline: none;
}

#scroll-to-top:hover {
    background-color:#007acc;
    box-shadow: 2px 2px 2px rgba(0,0,0,.25);
}

/* Theme-specific colors */
body.vscode-light #scroll-to-top {
    background-color: #949494;
}
body.vscode-light #scroll-to-top:hover {
    background-color: #007acc;
}

body.vscode-high-contrast #scroll-to-top {
    background-color: black;
    border: 2px solid #6fc3df;
    box-shadow: none;
}
body.vscode-high-contrast #scroll-to-top:hover {
    background-color: #007acc;
}

#scroll-to-top span.icon::before {
    content: "";
    /* Chevron up icon */
    background:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjIuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxNiAxNiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTYgMTY7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRkZGRkZGO30KCS5zdDF7ZmlsbDpub25lO30KPC9zdHlsZT4KPHRpdGxlPnVwY2hldnJvbjwvdGl0bGU+CjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik04LDUuMWwtNy4zLDcuM0wwLDExLjZsOC04bDgsOGwtMC43LDAuN0w4LDUuMXoiLz4KPHJlY3QgY2xhc3M9InN0MSIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ii8+Cjwvc3ZnPgo=');
    width: 1.6rem;
    height: 1.6rem;
    position:absolute;
    left: calc(50% - 1.6rem / 2);
    top: calc(50% - 1.6rem / 2);
}